<!DOCTYPE html>
<html
       xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorator="layout/standardLayout">
<head></head>
<body>

<div layout:fragment="content">

<div class="container">  

 <th:block th:include="fragments/successMessage"></th:block>
  
  <form method="post" th:object="${doctor}"> 
  
     <th:block th:include="fragments/ErrorValidateMessage"></th:block>
     
    <div class="form-group col-md-6" th:classappend="${#fields.hasErrors('name')} ? has-warning">
       <label for="name" class="control-label">Nome</label>
    <input type="text" class="form-control" id="name" th:field="*{name}" placeholder="Informe seu nome">
    </div>
    
    <div class="form-group col-md-6">
       <label for="email">Email</label>
      <input type="email" class="form-control" id="email" th:field="*{email}" placeholder="Informe seu email">
    </div>
    
      <div class="form-group col-md-6">
       <label for="crm">CRM</label>
       <input type="number" class="form-control" id="crm" th:field="*{crm}" placeholder="Informe seu crm">
    </div>
    
     <div class="form-group col-md-4">
      <label for="especialty">Especialidade</label>
	      <div class="field-action">
		      <select id="especialty"  class="form-control" th:field="*{especialty}">
		        <option value="" selected>Selecione...</option>
		        <option th:each="especialty : ${especialtys}" th:value="${especialty.id}" th:text="${especialty.name}"></option>
		      </select>		      
		      
		        <a href="#" data-toggle="modal" data-target="#myModal">
		            <button type="button" class="btn btn-link">
	                  Adicionar <span class="glyphicon glyphicon-plus"></span>
	                </button>		          
		        </a>
		      
	      </div>
    </div>     
  
  <button type="submit" class="btn btn-primary">Salvar</button>
</form>
  
  
</div>	
 <div th:replace="especialty/registerEspecialty"></div>			
</div>	

</body>
</html>