<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
       layout:decorator="LayoutPadrao">
      
 <head>
    <meta charset="UTF-8"/>
    <title>Pesquisa de Médico</title>      
 </head>
 
<section layout:fragment="conteudo">  

<!-- Image and text -->
<nav class="navbar  topo-nav">  
    <p>Pesquisar de Medicos</p>
    <a class="btn btn-outline-dark my-2 my-sm-0 novo" th:href="@{/medicos/novo}">Novo Cadastro</a>  
</nav>




   <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">CRM</th>
      <th scope="col">Especialidade</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
  
    <tr th:each="med : ${medicos}">
          <td scope="col" th:text="${med.id}"></td>
          <td scope="col" th:text="${med.nome}"></td>
          <td scope="col" th:text="${med.crm}"></td>
          <td scope="col" th:text="${med.especialidade.descricao}"></td>
          <td></td>  
    </tr>    
  
    <tr>
       <td colspan="5" th:if="${#lists.isEmpty(medicos)}">Nenhum médico cadastrado</td>
    </tr>
    
  </tbody>
</table>  


</section>
</html>
